<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADEKOLA's portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='circleping.png') }}">
    <style>
      body{
        background-image: url('static/slider-bg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
      }
    </style>
    <!-- CSS -->
    <link rel="stylesheet" href="static/owl.carousel.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/ionicons.min.css">
    <link rel="stylesheet" href="static/animate.css">
    <link rel="stylesheet" href="static/responsive.css">
    
    <!-- Js -->


    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/google-map-init.js"></script>


    <script src="js/main.js"></script>


  </head>
  <body>



    <!-- Header Start -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- header Nav Start -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                  <img src="DEVI-LEARN.png" alt="logo">
                </a>
              </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="work.html">Work</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
          </div>
        </div>
      </div>
    </header><!-- header close -->
        
    <!-- Slider Start -->
    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="block">
              <h1 class="animated fadeInUp">DEVI-LEARN</h1>
              <p class="animated fadeInUp">KEHINDE ADEKOLA loves the Web and the work he does.He works closely with his </br> clients to deliver the best possible solutions to their needs and problems in the simplest and shortest time possible. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Wrapper Start -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>About Us</h2>
                <p><b>I want to say a big thank you for taking your time to read through this. my name is kehinde adekola, i am a web-developer.</b></p>
              </div>
              <p><b>i am a web-developer close on half a decade of experience. i worked on couple of products already such as a translator, created a twitter bot as well as guessing terminal bame.</b></p>
            </div>
          </div><!-- .col-md-7 close -->
          <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="static/programming banner.jpg" alt="Img">
            </div>
          </div><!-- .col-md-5 close -->
        </div>
      </div>
    </section>

  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2>I BELIEVE IN GREAT IDEAS</h2> 
          <a href="work.html" class="btn btn-view-works">View Works</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Service Start -->
  <section id="service">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>Our Services</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="icon ion-coffee"></i>

              <h4>Branding</h4>
              <p>I help businesses harness their image and reach their goals by creating killer websites. My site designs increase traffic by at least</p>
              <p>I help production facilities streamline their processes so that they can minimize waste and boost their profits. Let's build great branding together.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-compass"></i>
              <h4>Web Design</h4>
              <p>One way you can stand out is by having a website that looks good and clearly communicates quality information to your consumers. Without a website, people may question your legitimacy as a business. Having a website is an opportunity to make a great first impression and give people comfort that you’re a real business. YOU ARE DEFINITELY IN THE RIGHT PLACE</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-headphone"></i>
              <h4>Logo Design</h4>
              </p>A good logo design instils trust. It conveys a positive message to your consumers that you run a professional company and are capable of providing great services. An iconic logo gives an idea of the grandeur of your company.</p>
              <p>After reading through all that, you should know that i am your to go logo designer.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-leaf"></i>
              <h4>Web Development</h4>
              <p>With good web development, you control the user experience, manage content relevancy and your conversion process. Good content is what sets your website apart from everyone else and delivers the right message to your customer</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
          <div class="col-sm-6 col-md-3">
        </div>
      </div>
    </section>
    <!-- Call to action Start -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>We design delightful digital experiences.</h2>
              <p>Read more about what i do and my philosophy of design. Judge for yourself The work and results i’ve achieved for other clients, and meet my highly experienced Team who just love to design.</p>
              <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
            </div>
          </div>
        </div>
      </div>
    </section>

              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="testimonial-carousel">
              <div id="testimonial-slider" class="owl-carousel">
                <div>
                    <img src=static/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="static/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO</p>
                    </div>
                </div>
                <div>
                  <img src="static/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="static/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO</p>
                    </div>
                </div>
                <div>
                  <img src="static/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="static/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO</p>
                    </div>
                </div>
                <div>
                  <img src="static/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="static/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>








    
    <!-- footer Start -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-manu">
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Terms</a></li>
              </ul>
            </div>
            <p>Copyright &copy; Crafted by <a href="https://twitter.com/FuturePresido19?t=8VR4AEylasUtk-ZHqPUGKA&s=09">Devi-learn</a>.</p>
          </div>
        </div>
      </div>
    </footer>
            
            
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
            
    
    </body>
</html>